@import "../colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font;
}

window#waybar {
    background-color: transparent;
    color: @pink200;
    transition-property: background-color;
    transition-duration: 0.5s;
    font-size: 14px;
}

window#waybar > box {
    background-color: @slate900;
    /* margin: 6px; */
    /* border-radius: 999px; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces {
    padding: 0 6px;
}

#workspaces button {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    background-color: transparent;
    color: @slate800;
    transition: color 0.125s ease-out;
}

#workspaces button:hover {
    background: transparent;
    border-color: transparent;
    color: @slate700;
}

#workspaces button.focused,
#workspaces button.focused:hover {
    color: @pink500;
    font-weight: 900;
}

#workspaces button.urgent {
}

#mode {
    background-color: @pink600;
    border-bottom: 3px solid @pink800;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#language,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    font-size: 13px;
    padding-left: 26px;
    padding-right: 6px;
    color: @pink400;
}

#scratchpad {
    padding: 0 6px;
    font-weight: 900;
}

#scratchpad.empty {
    font-weight: 400;
    color: @pink900;
}

.modules-right {
    padding-right: 24px;
}

#tray {
    padding-left: 24px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
