@import url("file:///home/malte/.config/colors.css");

* {
    font-family: FiraCode Nerd Font;
}

#window,
#box,
#search,
#password,
#input,
#typeahead,
#spinner,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#sub,
#activationlabel {
    all: unset;
}

#window {
    background: rgba(0, 0, 0, 0.5);
}

#box {
    background: transparent;
}

#password,
#input,
#typeahead {
    background: @slate700;
    color: @slate50;
    padding: 0.5em 0.75em;
    border: none;
    outline: none;
    border-radius: 0.25em;
}

#input placeholder {
    opacity: 1;
}

#input > *:first-child,
#typeahead > *:first-child {
    color: @slate500;
    margin-left: 0.25em;
    margin-right: 0.75em;
}

#input > *:last-child,
#typeahead > *:last-child {
    color: @slate400;
}

#spinner {
}

#list {
    border-radius: 0.25em;
    margin-top: 0.5em;
    background: @slate800;
}

#item {
    padding: 0.65em 0.75em;
}

#activationlabel {
    color: @slate500;
}

*:selected {
    background: @slate700;
}

*:selected #activationlabel {
    color: @slate400;
}

#icon {
    margin-right: 1em;
}

#textwrapper {
    margin-top: -0.1em;
}

#label {
    color: @slate50;
}

#sub {
    color: @slate500;
    font-size: 0.9em;
}
