@define-color theme_bg_color #27272A;
@define-color theme_text_color #F4F4F5;
@define-color theme_input_color #3F3F46;

#window {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade-in 0.25s cubic-bezier(0.22, 1, 0.36, 1) both;
}

box#main {
  border-radius: 10px;
  color: @theme_text_color;
  background-color: @theme_bg_color;
  animation: slide-in 0.5s cubic-bezier(0.22, 1, 0.36, 1) both;
}

entry {
  background-color: @theme_bg_color;
  color: @theme_text_color;
  margin: 8px;
}

list#main {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  color: @theme_text_color;
  margin: 8px;
}

list#plugin {
  background-color: rgba(0, 0, 0, 0);
  color: @theme_text_color;
}

label#match-desc {
  font-size: 10px;
  color: @theme_text_color;
}

label#plugin {
  font-size: 14px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: -1;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}