@define-color bg transparent;
@define-color text #FFFFFF;
@define-color input #3F3F46;
@define-color entry #27272A;

window {
  background: transparent;
  font-family: FiraCode Nerd Font;
}

#inner-box {
}

#outer-box {
  animation: outer-box 0.5s cubic-bezier(0.33, 1, 0.68, 1) both;
  padding: 1rem;
  border-radius: 0.5rem;

  background: @bg;
  color: @text;
}

#input {
  border: none;
  background: @input;
  padding: 1rem;
  margin: 0 1rem;
  margin-bottom: 1.5rem;
  color: @text;
}

#text {
  color: @text;
}

#entry {
  padding: 1rem;
  border-radius: 0.5rem;
  background: @entry;
  transition: all 0.125s ease-out;
  margin: 0.25rem 1rem;
}

image {
  margin-right: 1rem;
}

#entry:selected {
  outline: none;
  margin: 0.25rem 0;
}

@keyframes entry {
  from {
    opacity: 0;
    margin-top: 1rem;
  }

  to {
    opacity: 1;
    margin-top: 0.5rem;
  }
}

@keyframes outer-box {
  from {
    opacity: -2;
    margin-top: 200px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}